/* Styles de base */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #141414;
  color: #fff;
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

#intro,
#championship,
#events {
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  color: #141414;
}

#event-list {
  list-style-type: none;
  padding: 0;
}

#event-list li {
  background-color: #333;
  color: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
}

footer {
  background-color: #141414;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    padding-top: 10px;
  }

  nav ul li {
    display: block;
    margin-left: 0;
  }
}
